.elementor-156 .elementor-element.elementor-element-3dd8b73>.elementor-background-overlay {
    background-color: #ffffff;
    opacity: 0.5;
}

.elementor-156 .elementor-element.elementor-element-233040d>.elementor-background-overlay {
    background-color: #ffffff;
    opacity: 0.5;
}

.elementor-156 .elementor-element.elementor-element-9e3a2b7 {
    text-align: center;
}

.elementor-156 .elementor-element.elementor-element-9e3a2b7.elementor-widget-heading .elementor-heading-title {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-b098742>.elementor-background-overlay {
    background-color: #ffffff;
    opacity: 0.5;
}

.elementor-156 .elementor-element.elementor-element-acf2f8f {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-86719bc:not(.elementor-motion-effects-element-type-background),
.elementor-156 .elementor-element.elementor-element-86719bc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-156 .elementor-element.elementor-element-86719bc {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-156 .elementor-element.elementor-element-86719bc>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-156 .elementor-element.elementor-element-6788927 {
    text-align: center;
}

.elementor-156 .elementor-element.elementor-element-6788927.elementor-widget-heading .elementor-heading-title {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-03a51cf {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-03c16c7 {
    text-align: center;
}

.elementor-156 .elementor-element.elementor-element-03c16c7.elementor-widget-heading .elementor-heading-title {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-c02207b {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-7bbffe9:not(.elementor-motion-effects-element-type-background),
.elementor-156 .elementor-element.elementor-element-7bbffe9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-156 .elementor-element.elementor-element-7bbffe9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-156 .elementor-element.elementor-element-7bbffe9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-156 .elementor-element.elementor-element-778e959 {
    text-align: center;
}

.elementor-156 .elementor-element.elementor-element-778e959.elementor-widget-heading .elementor-heading-title {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-c6706cf {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-8d2a619:not(.elementor-motion-effects-element-type-background),
.elementor-156 .elementor-element.elementor-element-8d2a619>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-156 .elementor-element.elementor-element-8d2a619 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-156 .elementor-element.elementor-element-8d2a619>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-156 .elementor-element.elementor-element-fb55250 {
    text-align: center;
}

.elementor-156 .elementor-element.elementor-element-fb55250.elementor-widget-heading .elementor-heading-title {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-506fc14 {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-1b0fe8b:not(.elementor-motion-effects-element-type-background),
.elementor-156 .elementor-element.elementor-element-1b0fe8b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-156 .elementor-element.elementor-element-1b0fe8b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-156 .elementor-element.elementor-element-1b0fe8b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-156 .elementor-element.elementor-element-1b0fe8b .elementor-heading-title {
    color: #6abee2;
}

.elementor-156 .elementor-element.elementor-element-d4e4f6f {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-e3493c8:not(.elementor-motion-effects-element-type-background),
.elementor-156 .elementor-element.elementor-element-e3493c8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-156 .elementor-element.elementor-element-e3493c8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-156 .elementor-element.elementor-element-e3493c8>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-156 .elementor-element.elementor-element-a15ae48 {
    text-align: center;
}

.elementor-156 .elementor-element.elementor-element-a15ae48.elementor-widget-heading .elementor-heading-title {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-e0856d4 {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-8054f94:not(.elementor-motion-effects-element-type-background),
.elementor-156 .elementor-element.elementor-element-8054f94>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-156 .elementor-element.elementor-element-8054f94 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-156 .elementor-element.elementor-element-8054f94>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-156 .elementor-element.elementor-element-6ebc80e {
    text-align: center;
}

.elementor-156 .elementor-element.elementor-element-6ebc80e.elementor-widget-heading .elementor-heading-title {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-436d1e6 {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-84bfc21:not(.elementor-motion-effects-element-type-background),
.elementor-156 .elementor-element.elementor-element-84bfc21>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-156 .elementor-element.elementor-element-84bfc21 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-156 .elementor-element.elementor-element-84bfc21>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-156 .elementor-element.elementor-element-802a893 {
    text-align: center;
}

.elementor-156 .elementor-element.elementor-element-802a893.elementor-widget-heading .elementor-heading-title {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-2d52023 {
    text-align: center;
}

.elementor-156 .elementor-element.elementor-element-2d52023.elementor-widget-heading .elementor-heading-title {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-64ec632:not(.elementor-motion-effects-element-type-background),
.elementor-156 .elementor-element.elementor-element-64ec632>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-156 .elementor-element.elementor-element-64ec632 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-156 .elementor-element.elementor-element-64ec632>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-156 .elementor-element.elementor-element-b32e350 {
    text-align: center;
}

.elementor-156 .elementor-element.elementor-element-b32e350.elementor-widget-heading .elementor-heading-title {
    color: #000000;
}

.elementor-156 .elementor-element.elementor-element-f2734bb:not(.elementor-motion-effects-element-type-background),
.elementor-156 .elementor-element.elementor-element-f2734bb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-156 .elementor-element.elementor-element-f2734bb {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    color: #ffffff;
}

.elementor-156 .elementor-element.elementor-element-f2734bb>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-156 .elementor-element.elementor-element-f63c7a1 {
    color: #000000;
}